<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="users" href="/tabs/users">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="measurements" href="/tabs/measurements">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Measure</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon aria-hidden="true" name="analytics"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
