<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create user</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create user</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-list>

      <ion-item>
        <ion-input
          [formControl]="inputName"
          label="Name"
          placeholder="type desired name"
          labelPlacement="stacked"
          errorText="Inputed name is invalid.">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date of Birth</ion-label>
        <ion-input type="date" [formControl]="inputDateOfBirth"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Height (cm)"
          type="number"
          labelPlacement="stacked"
          placeholder="height in cm"
          errorText="Invalid value for height."
          [formControl]="inputHeight">
        </ion-input>
      </ion-item>

      <ion-list>
        <ion-radio-group value="male" [formControl]="inputGender">
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-radio labelPlacement="stacked" value="male">Male</ion-radio>
            <ion-radio labelPlacement="stacked" value="female">Female</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

    </ion-list>
  </ion-list>

  <div class="ion-padding">
  <ion-button expand="block" (click)="createNewUser()">
    Create
  </ion-button>
</div>

</ion-content>